{#
/**
 * @file ever-entity.html.twig
 * Theme implementation to present Ever entity posts.
 *
 * This template is used when viewing module-page route.
 *
 * Available variables:
 * - content: A list of fields with values.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ever_entity()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('ever/posts.css') }}
{{ dump(content) }}
<article class="posts__feedback">
  {{ title_suffix }}
  <div class="posts__inner">
    <div class="user__column">
      <div class="user__avatar">{{ content.image_avatar }}</div>
      <div class="user__name">{{ content.name }}</div>
      <div class="user__email">{{ content.email }}</div>
      <div class="user__tel">{{ content.telephone }}</div>
    </div>
    <div class="content__row">
      <div class="content__text">
        <div class="user__feedback">{{ content.comment.0 }}</div>
       <div class="user__photo">{{ content.image_photo }}</div>
      </div>
    </div>
    <div class="timestamp">{{ content.created }}</div>
  </div>
</article>








